@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Telex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@500&family=Telex&display=swap');
body {
    background-color: rgb(230, 252, 252);
}

.container{
    width : 400px;
    height : 400px;
    background-color: #74EBD5;
    background-image: linear-gradient(238deg, #74EBD5 0%, #9FACE6 100%);
    margin: auto;
    transform: translateY(50%);
    box-shadow: 2px 0px 20px  rgba(0,0,0,0.3);
}

.three {
    margin-top:-40px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 150px;
    letter-spacing: -25px;
    color: #ffffff;
    text-shadow: 0px 0px 20px rgba(35, 47, 73, 0.6);
    transform: rotate(-4.56deg);
    text-align: center;
    margin-left: -0.4em;
}

.Days {
    position: relative;
    z-index: 20;
    display: block;
    font-size: 82px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 6px;
    transform: translate(90px,-180px);
    color :rgb(255, 255, 255);
    text-shadow: 0px 0px 20px rgba(35, 47, 73, 0.6);
}

.Of { 
    position: relative;
    z-index: 10;
    display: block;
    margin-top: -3em;
    font-size: 70px;
    font-weight: 500;
    transform: translate(30px,60px);
    color: white;
    text-shadow: 0px 0px 20px rgba(35, 47, 73, 0.6);
}

.CSS{
    position: relative;
    z-index: 10;
    display: block;
    margin-top: -3em;
    font-size: 90px;
    font-weight: 700;
    margin-top: -0.6em;
    margin-left: 1.6em;
    transform: translate(1.7em,2.35em);
    transform: rotate(-3deg);
    color: rgb(247, 247, 247);
    font-family: 'Poppins';
    text-shadow: 0px 0px 20px rgba(35, 47, 73, 0.6);
}

.logos{
    font-size: 20px;
    transform: translate(16em,-0.7em);
    letter-spacing: 1px;
}